#Faltudiv{
    background-image: url('https://images.unsplash.com/photo-1618005182384-a83a8bd57fbe?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bWVzaCUyMGdyYWRpZW50fGVufDB8fDB8fHww&auto=format&fit=crop&w=600&q=60');
    background-repeat: no-repeat;
    background-size: cover;
}

#faltu2{
    background-image: url('https://images.unsplash.com/photo-1618005182384-a83a8bd57fbe?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bWVzaCUyMGdyYWRpZW50fGVufDB8fDB8fHww&auto=format&fit=crop&w=600&q=60');
    background-repeat: no-repeat;
    background-size: cover;
}

h3{
    text-align: center;
}

form {
    display: grid;
    grid-gap: 20px;
    text-align: center;
    justify-items: center;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="date"] ,
input[type="password"]{
    width: 80%;
    padding:10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
 
button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    width: 150px; 
    height: 40px; 
} 

button:hover {
    background-color: #45a049;
}