.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 10%;
    margin-left: 100px;
}

.hero-content {
    margin-top: -27px;
    flex: 1;
    padding-right: 1.5rem;
    margin-left: 20px;
    display: block;
    margin: auto;
    width: fit-content;
}

.hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}


.hero-image {
    margin-top: -27px;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.heading-style-h1{
    letter-spacing: .02rem;
    font-size: 5.5rem;
    font-weight: 700;
    line-height: .95;
    display: block;
    margin: auto;
    width: fit-content;
}